* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.app {
    overflow: hidden;
    padding: 12px 24px;
    font-family: Ubuntu Mono, serif;
    font-size: 15px;
    color: #333;
}

.header {
    font-family: Major Mono Display, serif;
    font-size: 36px;
    margin-bottom: 40px;
}

.container {
    border: 1px #bbb solid;
    border-radius: 4px;
    overflow: hidden;
}

.toolbar {
    margin-bottom: 20px;
}

.inputField {
    cursor: pointer;
    display: inline-block;
    margin-right: 12px;
}

.inputField:hover {
    color: #000;
}

.fileInput {
    display: none;
}
